h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(243, 158, 32);
  text-transform: uppercase;
}
ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 400px;
  list-style: none;
  
}

ul li {
  display: grid;
  text-align: center;
  align-items: center;
  width: 250px;
  height: 3rem;
  background-color: grey;
  border-radius: 7px;
  margin-bottom: 5px;
  font-size: large;
}
li {
  color: #000000;
  text-decoration: none;
}

li:hover {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.web1 {
  position: relative;

}

.web {
position:absolute;
top:10%;
left:255px;
  display :none;
  transition: display 2s ease;
}
.web>li{
  display: grid;
  text-align: center;
  align-items: center;
  width: 170px;
  height: 2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  margin-bottom: 4px;
  color: antiquewhite;
  font-size: medium;
}

.web1>li:hover + .web {
  display:block;
    transition: display 2s ease;



  
}
